.s-conditions {
  .s-title {
    flex-shrink: 0;
  }
  &__head-content {
    max-width: 540px;
    font-weight: 500;
    font-size: 14px;
    line-height: 157%;
    margin: 0;
    @include tablet-min {
      display: none;
    }
  }
  &__item {
    position: relative;
    z-index: 1;

    &:not(:last-child) {
      .s-conditions__item-wrapper {
        border-bottom: 1px solid rgba(255, 255, 255, 0.08);
      }
    }

    @media (min-width: 992px) {
      &:hover {
        .s-conditions__item-content {
          opacity: 1;
          max-height: 100px;
        }
        &::before {
          opacity: 1;
        }
      }
    }

    &._active {
      .s-conditions__item-content {
        opacity: 1;
        max-height: 100px;
      }
      &::before {
        opacity: 1;
      }

      .circle {
        transform: rotate(90deg)
      }
    }

    .num {
      @include flex-center;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      flex-shrink: 0;

      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.56);

      background: rgba(243, 243, 243, 0.08);

      @include tablet {
        width: 24px;
        height: 24px;

        font-size: 14px;
        line-height: 157%;
      }
    }
    .circle {
      @include flex-center;
      border-radius: 50%;
      flex-shrink: 0;
      width: 26px;
      height: 26px;
      color: white;
      background: rgba(7, 9, 11, 0.56);
      margin-left: auto;

      transition: transform .3s ease;

      svg {
        width: 14px;
        height: 14px;
      }

      @media (min-width: 768px) {
        display: none;
      }
    }
    &::before {
      position: absolute;
      content: "";
      inset: 0;
      background: url("@img/linear-conditions.png") left 0 center / cover
        no-repeat;
      opacity: 0;
      z-index: -1;

      transition: opacity 0.3s ease;
    }
  }
  &__item-wrapper {
    display: flex;
    align-items: center;
    padding: 24px 0px;
    gap: 64px;

    @include laptop {
      gap: 30px;
    }
    @include laptop-min {
      flex-wrap: wrap;
    }
    @include tablet {
      padding: 20px 0px;
      gap: 12px;
    }
  }
  &__item-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 133%;
    text-transform: uppercase;
    flex: 1;
    color: rgba(255, 255, 255, 0.56);

    @include tablet {
      font-size: 18px;
    }
  }
  &__item-content {
    font-weight: 600;
    max-width: 540px;
    margin: 0px 0px 0px auto;
    background: linear-gradient(
      46deg,
      #e7fdff 0.72%,
      #d5f0ff 29.86%,
      #ffe7f9 68.6%,
      #f0cdff 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    opacity: 0;

    transition:
      opacity 0.4s linear,
      max-height 0.4s linear;

    @include laptop-min {
      width: 100%;
      order: 3;
      max-width: none;
      max-height: 0px;
      height: 100%;
      overflow: hidden;
    }
  }
  &__bottom {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    @include tablet-min {
      flex-direction: column-reverse;
      gap: 16px;
    }
  }
  &__btn {
    @include tablet-min {
      width: 100%;
    }
  }
  &__bottom-list {
    display: flex;
    flex-direction: column;
    gap: 4px;

    li {
      font-weight: 500;
      font-size: 14px;
      line-height: 157%;
      color: rgba(255, 255, 255, 0.56);

      @include tablet-min {
        font-size: 12px;
      }

      span {
        color: white;
      }
    }
  }
}
