<section class="intro">
  <div class="container">
    <div class="intro__head">
      <div class="intro__title">21 НОЯБРЯ 2025</div>
      <p class="intro__head-descr">17:30 - 22:00 <br> Яхта “Рэдиссон”</p>
    </div>
  </div>
  <div class="intro__buttons">
    <div class="container">
      <div class="intro__buttons-wrapper">
        <a href="#" class="btn-o intro__btn">
          <div></div>
          <div></div>
          <span>Стать партнёром</span>
        </a>
        <a href="#modal-reg" data-fancybox class="btn-s intro__btn">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <span>Регистрация</span>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
