<div class="modal" id="modal-reg">
  <h3 class="modal__title _linear">Регистрация на мероприятие</h3>
  <div data-fancybox-close class="modal__close">
    <svg>
      <use xlink:href="img/icons/icons.svg#icon-close"></use>
    </svg>
  </div>
  <ul class="list modal__head-list">
    <li>Заявки принимаются до 5 декабря. Количество мест ограничено.</li>
  </ul>
  <form action="#" class="modal__form">
    <div class="modal__form-wrapper">
      <div class="input-control">
        <input type="text" placeholder="Фамилия*" class="input" />
      </div>
      <div class="input-control">
        <input type="text" placeholder="Имя*" class="input" />
      </div>
      <div class="input-control">
        <input type="text" placeholder="Отчество" class="input" />
      </div>
      <div class="input-control">
        <input type="text" placeholder="Компания*" class="input" />
      </div>
      <div class="input-control">
        <input type="text" placeholder="Ваш сайт*" class="input" />
      </div>
      <div class="input-control">
        <div class="select">
          <div class="select-btn">
            <input
              type="text"
              placeholder="Род деятельности"
              class="input select-input"
            />
          </div>
          <div class="select-body">
            <div class="select-body__inside">
              <div class="select-item">Архитектор</div>
              <div class="select-item">Дизайнер</div>
              <div class="select-item">Девелопер</div>
              <div class="select-item">Строитель</div>
              <div class="select-item">Поставщик</div>
              <div class="select-item">Заказчик</div>
            </div>
          </div>
        </div>
      </div>
      <div class="input-control">
        <input type="text" placeholder="Должность" class="input" />
      </div>
      <div class="input-control">
        <input type="tel" placeholder="Мобильный телефон*" class="input" />
      </div>
      <div class="input-control">
        <input type="tel" placeholder="Рабочий телефон*" class="input" />
      </div>
      <div class="input-control">
        <input type="email" placeholder="Электронная почта" class="input" />
      </div>
      <div class="input-control">
        <input type="text" placeholder="Дата рождения" class="input _date" />
      </div>
      <div class="input-control">
        <input
          type="text"
          placeholder="Ваши предпочтения в еде"
          class="input"
        />
      </div>
      <div class="input-control">
        <input
          type="text"
          placeholder="Ваши предпочтения в напитках"
          class="input"
        />
      </div>
      <div class="input-control">
        <label>
          <input type="checkbox" class="input-check" />
          <span class="wpcf7-list-item-label">
            <span>Буду участвовать в архикруиз аворд 2025</span>
          </span>
        </label>
      </div>
    </div>
    <div class="modal__form-bottom">
      <button class="btn-s modal__form-btn">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <span>Отправить заявку</span>
      </button>
      <p class="modal__form-policy">
        Нажимая на кнопку “Отправить заявку” я даю согласие на обработку на
        обработку своих
        <a href="#" target="_blank">персональных данных</a>
      </p>
    </div>
  </form>
</div>

<div class="modal modal-thank" id="modal-thank">
  <h3 class="modal__title _center _linear">Завка отправлена!</h3>
  <div data-fancybox-close class="modal__close">
    <svg>
      <use xlink:href="img/icons/icons.svg#icon-close"></use>
    </svg>
  </div>
  <p class="modal__content">
    После проверки указанных данных, с Вами свяжется наш специалист и направит
    пригласительный билет. До встречи на "Архикруизе" 14 ноября 2025 г.!
  </p>
  <div data-fancybox-close class="btn-s modal__btn-send">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <span>Ок!</span>
  </div>
</div>
