<section class="s-award sect-m">
  <div class="container">
    <h2 class="s-title s-award__title _linear">
      Собственная архитектурная премия THE ARCHICRUISE AWARD 2025
    </h2>
    <p class="content s-award__content">
      В рамках мероприятия пройдёт церемония признания лучших в индустрии. Мы
      отмечаем инновации, смелые решения и реальные результаты.
    </p>
    <div class="s-award__adv">
      <div class="s-award__adv-item">
        <img src="@img/award-1.svg" alt="image" class="s-award__adv-icon" />
        <span>
          Лучшая городская
          <br />
          архитектура
        </span>
      </div>
      <div class="s-award__adv-item">
        <img src="@img/award-2.svg" alt="image" class="s-award__adv-icon" />
        <span>
          Лучшая
          <br />
          образовательная среда
        </span>
      </div>
      <div class="s-award__adv-item">
        <img src="@img/award-3.svg" alt="image" class="s-award__adv-icon" />
        <span>
          Лучшее офисное
          <br />
          пространство
        </span>
      </div>
    </div>
  </div>
</section>
