<section class="s-plan sect-m">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">что вас ждЁт</h2>
      <a href="#modal-reg" data-fancybox class="btn-s s-plan__head-btn">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <span>Регистрация</span>
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
        </svg>
      </a>
    </div>
    <div class="s-plan__grid">
      <div class="s-plan__item">
        <picture class="s-plan__item-img">
          <source srcset="@img/plan-img-mob.jpg" media="(max-width: 575px)" />
          <img src="@img/plan-img.jpg" alt="img" />
        </picture>
        <div class="s-plan__item-body">
          <h5 class="s-plan__item-title">шоу программа</h5>
          <p class="s-plan__item-content">
            Это уникальное закрытое мероприятие для профессионалов архитектурной
            и строителдьной сферы.
          </p>
        </div>
      </div>
      <div class="s-plan__item">
        <div class="s-plan__item-body">
          <picture class="s-plan__item-img">
            <source srcset="@img/plan-img-mob.jpg" media="(max-width: 575px)" />
            <img src="@img/plan-img.jpg" alt="img" />
          </picture>
          <h5 class="s-plan__item-title">ВЕДУЩИЙ МИХАИЛ КОКЛЯЕВ</h5>
          <p class="s-plan__item-content">
            Это уникальное закрытое мероприятие для профессионалов архитектурной
            и строителдьной сферы.
          </p>
        </div>
      </div>
      <div class="s-plan__item _big">
        <div class="s-plan__item-body">
          <picture class="s-plan__item-img">
            <source
              srcset="@img/plan-img-mob-2.jpg"
              media="(max-width: 575px)"
            />
            <img src="@img/plan-img-2.jpg" alt="img" />
          </picture>
          <h5 class="s-plan__item-title">THE ARCHBUSINESS SESSION</h5>
          <p class="s-plan__item-content">
            Возможность лично пообщаться с экспертами из разных сфер в приятной
            обстановке, обзавестись новыми полезными знакомствами, обсудить
            проект и тд
          </p>
        </div>
      </div>
      <div class="s-plan__item _big">
        <div class="s-plan__item-body">
          <picture class="s-plan__item-img">
            <source
              srcset="@img/plan-img-mob-2.jpg"
              media="(max-width: 575px)"
            />
            <img src="@img/plan-img-2.jpg" alt="img" />
          </picture>
          <h5 class="s-plan__item-title">THE ARCHBUSINESS SESSION</h5>
          <p class="s-plan__item-content">
            Возможность лично пообщаться с экспертами из разных сфер в приятной
            обстановке, обзавестись новыми полезными знакомствами, обсудить
            проект и тд
          </p>
        </div>
      </div>
      <div class="s-plan__item">
        <picture class="s-plan__item-img">
          <source srcset="@img/plan-img-mob.jpg" media="(max-width: 575px)" />
          <img src="@img/plan-img.jpg" alt="img" />
        </picture>
        <div class="s-plan__item-body">
          <h5 class="s-plan__item-title">шоу программа</h5>
          <p class="s-plan__item-content">
            Это уникальное закрытое мероприятие для профессионалов архитектурной
            и строителдьной сферы.
          </p>
        </div>
      </div>
      <div class="s-plan__item _start">
        <div class="s-plan__item-body">
          <picture class="s-plan__item-img">
            <source srcset="@img/plan-img-mob.jpg" media="(max-width: 575px)" />
            <img src="@img/plan-img.jpg" alt="img" />
          </picture>
          <h5 class="s-plan__item-title">ВЕДУЩИЙ МИХАИЛ КОКЛЯЕВ</h5>
          <p class="s-plan__item-content">
            Это уникальное закрытое мероприятие для профессионалов архитектурной
            и строителдьной сферы.
          </p>
        </div>
      </div>
    </div>
    <a href="#modal-reg" data-fancybox class="btn-s s-plan__btn">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <span>Регистрация</span>
      <svg>
        <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
      </svg>
    </a>
  </div>
</section>
