.s-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 117%;
  text-transform: uppercase;
  margin: 0;

  @include laptop {
    font-size: 32px;
  }
  @include laptop-min {
    font-size: 28px;
  }
  @include tablet {
    font-size: 24px;
    line-height: 133%;
  }
}
