.burger {
  position: fixed;
  top: 75px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  padding: 24px 0px;
  background-color: black;

  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);

  transition: transform .4s ease, opacity .4s ease, visibility .4s ease;

  &._open {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }

  &__container {
    padding: 0 16px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: rgba(255, 255, 255, 0.87);

    a {
      font-weight: 500;
      font-size: 16px;
      line-height: 137%;
    }

    & > li > a {
      display: block;
      width: 100%;
      padding: 12px 0px;

      transition: color 0.3s ease;
      @include hover {
        color: white;
      }
    }
    .menu-item-has-children {
      span {
        @include flex-between;
        cursor: pointer;
        padding: 12px 0px;

        transition: color 0.3s ease;
        @include hover {
          color: white;
        }

        &._active {
          &::after {
            transform: rotate(180deg);
          }
        }

        &::after {
          content: "";
          width: 20px;
          height: 20px;
          background: url("@img/arrow-down.svg") center / 100% auto no-repeat;

          transition: transform 0.3s ease;
        }
      }

      .sub-menu {
        list-style: none;
        padding: 0px 0px 0px 15px;
        list-style: none;

        li {
          &:not(:last-child) {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  &__contacts {
    padding-top: 24px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  &__contacts-list {
    @include flex-center;
    flex-wrap: wrap;
    gap: 50px;
    row-gap: 20px;
    margin-bottom: 24px;
  }
  &__contacts-item {
    display: flex;
    align-items: center;
    gap: 8px;

    font-weight: 500;
    font-size: 14px;
    line-height: 157%;
    color: rgba(255, 255, 255, 0.72);

    transition: color 0.3s ease;

    @include hover {
      color: white;
    }

    svg {
      width: 18px;
      height: 18px;
    }
  }
  &__contacts-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  &__contacts-btn {
    flex: 1;
    @media (max-width: 384px) {
      flex: none;
      width: 100%;
    }
  }
}
